# This workflow will build and test the .NET solution
# For more information on GitHub Actions, refer to https://github.com/features/actions

name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    # Restore dependencies
    - name: Restore dependencies
      run: dotnet restore EasyMapper.sln

    # Build the solution
    - name: Build
      run: dotnet build EasyMapper.sln --configuration ${{ matrix.configuration }} --no-restore

    # Execute all unit tests in the solution
    - name: Test
      run: dotnet test EasyMapper.sln --configuration ${{ matrix.configuration }} --no-build --verbosity normal
